body {
    font-family: sans-serif;
}

h2 {
    color: white;
}

.small {
    background-color: rgb(231, 180, 57);
}

.medium {
    background-color: rgb(127, 75, 158);
}

.large {
    background-color: rgb(54, 131, 202);
}
